langchain
langchain-community
langchain-chroma
python-dotenv
unstructured-inference
sentence-transformers
#pdfplumber
pymupdf
unstructured[pdf]
#unstructured[all-docs]
langchain-groq
langchain-core
google-genai
pillow
streamlit
langchain-huggingface
faiss-cpu
langchain-tavily
tavily-python
#langchainhub
opencv-python-headless
langchain-mistralai
langgraph
pydantic